<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div>
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div
                    class="healthbar healthbar-status text-center"
                    :style="{ width: playerHealth + '%' }"> {{ playerHealth }}
                </div>
            </div>
        </div>
        <div>
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div
                    class="healthbar healthbar-status text-center"
                    :style="{ width: monsterHealth + '%' }"> {{ monsterHealth }}
                </div>
            </div>
        </div>
    </section>
    <section 
        class="controls" 
        v-if="!gameIsRunning">
        <button 
            id="start-game" 
            @click="startGame">START NEW GAME
        </button>
    </section>
    <section class="controls" v-else>
        <button 
            id="attack" 
            @click="attack">ATTACK
        </button>
        <button 
            id="special-attack" 
            @click="specialAttack">SPECIAL ATTACK
        </button>
        <button 
            id="heal" 
            @click="heal">HEAL
        </button>
        <button 
            id="give-up" 
            @click="giveUp">GIVE UP
        </button>
    </section>
    <section 
        class="log" 
        v-if="turns.length > 0">
        <ul>
            <li 
                v-for="turn in turns"
                :class="{ 'player-turn': turn.isPlayer, 'monster-turn': !turn.isPlayer }">{{ turn.text }}
            </li>
        </ul>
    </section>
</div>
<script src="app.js"></script>
</body>
</html>